/* CSS Document */

/* CSS Reset */
body, header, nav, footer {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color: #fff;
	background-color: #000;
}

header h1 {
	text-align: center;
	font-size: 2em;
}

nav {
	display: block;
	margin: 0 auto;
	background-color: #454545;
	font-size: 1.5em;
}

nav ul {
	list-style: none;
	text-decoration: none;
	text-align: center;
}

nav ul li a {
	list-style: none;
	text-decoration: none;
	background-color: #6e6e6e;
	display: inline;
	color: #000;
}